$bg: #eeeeee;
$main_color: rgb(16, 39, 73);
$bg_color: rgb(16, 39, 73);
$bg_hover_color: rgb(235, 236, 236);
$bottom_border_color: #d9edff;
$title_color: #024877;
$link_color: #035aa1;
$link_hover_color: #093669;
$even_bg_color: rgba(100, 99, 99, 0.1);
$bottom_color_start: rgb(9, 56, 109);
$bottom_color_middle: rgba(4, 90, 160, 0.2);
$bottom_color_end: rgba(80, 2, 2, 0);