.category {
  display: flex;
  flex-direction: row;
}
.category-form {
  flex: 1;
}
.category-list {
  flex: 2;
  background-color: #f1f1f1;
}
.category-list ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0;
}
.category-list ul li div {
  padding: 0.8rem 0;
  border-bottom: 1px dotted #b9b9b9;
}
.category-list ul li:nth-child(odd) {
  background-color: #fff;
}
.category-list ul li div:nth-child(1),
.category-list ul li div:nth-child(3),
.category-list ul li div:nth-child(4) {
  flex: 1;
  text-align: center;
}
.category-list ul li div:nth-child(2) {
  flex: 6;
  padding-left: 1rem;
}
.category-list ul li a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.category-list ul li .delete-style {
  color: rgba(119, 2, 2, 0.7803921569);
}
.category-list ul li .delete-style:hover {
  color: #770202;
}
.category-list-header {
  background-color: rgb(3, 61, 148) !important;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
.category-list-header div {
  border-right: 1px solid #fff;
  padding: 1.5rem 0 !important;
}