#download_page {
    .bulkactions {
        display: none !important;
    }
}

#add-item,
.remove-item {
    cursor: pointer;
    font-size: 1rem;
    color: #022458bd;
    &:hover {
        color: #022458;
    }
}
#wpfooter{
    display: none !important;
}

.error{
    color: rgb(145, 2, 2);
    font-size: 0.8rem;
}

.row-actions{
  .reset{
    a{
      color: #b32d2e!important;
    }
  }
}